body {
    font-family: roboto;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: left;
    align-content: center;
    padding: 0px 16px;
    min-width: 600px;
}

.header > div {
    font-weight: 800;
    justify-self: left;
    align-self: center;
}

.header > ul {
   
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-left: auto;
}

ul > li {
    font-size: 18px;
    color: #E5E7EB;
    align-self:center;
    flex: 1 1 auto;
}

/* presentation div*/

.presentation {
    background-color: #1F2937;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 60px 20px;
}

.left > h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.left > p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    height: 30px;
    padding: 0px 20px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: none;
    border: 2px solid #3882F6;
}

h4 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
/*content*/

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}


.square {
    width: 200px;
    height: 250px;
    margin: 10px;
    border: 2px solid lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.square > img {
    margin-bottom: auto;
}



/* Quote*/

.quote {
    background-color:#E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 35px 350px;
    margin-top: 70px;
    flex: 0 1 650px;
    min-width: 675px;
}

.quote > .author {
    text-align: right;
}
/*footer*/

.foot {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
}
.foot > .sign {
    border: 2px solid white;
    width: 102px;
    height: 32px;
    margin: auto;
}